#canvas{
    border: 1px black solid;
    background-color: darkgray;
}
#wrapper{
    position: relative;
    margin: auto;
    height: fit-content;
    width: fit-content;
}
#canvas:hover{
    cursor: none;


}
#points{
    position:relative;
    margin: auto;
    height: fit-content;
    width: fit-content;

}
html{
    background-color:dimgray;

}

