#canvas{
    border: 1px black solid;
    background-color:rgb(255, 255, 255);
   
}
#wrapper{
    position: relative;
    margin: auto;
    height: fit-content;
    width: fit-content;
}
#canvas:hover{
    cursor: none;


}
#points{
    position:relative;
    margin: auto;
    height: fit-content;
    width: fit-content;
    display: block ;
    background-color: white;
    padding: 2px 2px;
}
html{
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-size: cover;



}

